.icecek{
    position:relative;
 right:50px;   
 
}
.corba{
    
    position:absolute;
    right:700px;
    top:240px;
    width:100px;
   
}
.corbalar {
    position:absolute;
    right:700px;
    top:670px;
    width:150px;
}
.anamenuler {
    position: absolute;
    right: 700px;
    top: 1100px;
    width: 150px;
}
.ttlcet {
    position: absolute;
    right: 700px;
    top: 1600px;
    width: 150px;
}